/* Universal styles */
html {
  font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

h1 {
  padding-bottom: 1rem;

}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #9A2C00;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.author {
  font-style: italic;
}



/* Bootstrap Overrides */

.navbar-default .navbar-nav .active a {
  color: #9A2C00;
  background-color: inherit;
}

.navbar-default .navbar-nav .active a:hover {
  color: #07568E;
  background-color: inherit;
}

.btn-primary {
  padding: 1.3rem 0;
  margin-top: 2.8rem;
  width: 11.4rem;
  background-color: #9A2C00;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: 0.5s box-shadow;
  border: 0;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
  background-color: #9A2C00;
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
}


/* Navigation */

.navbar {
  font-size: 1.1rem;
  font-weight: bold;
}

img.navbar-brand.navbar-right.collapse.navbar-collapse.logo {
  max-width: 30px;
  padding-bottom: 1rem;
}

/* Jumbotron */

.jumbotron {
text-align: center;
color: white;
height: 616px;
padding: 11.85rem 0;
background-position: center;
background-size: cover;
}

.jumbotron h1, .jumbotron p {

}

.jumbotron h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 7.1rem;

}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;

}

  /* Carousel */
.jumbotron-hand {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
  url("../images/jumbotron-hand.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron-adult {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url("../images/jumbotron-adult.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron-questions {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
  url("../images/jumbotron-questions.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


@media only screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

/* Over de Bezieling */ /* Aanbod */



.de-bezieling h2 {
  margin-left: 15px;
  padding-bottom: 10px;
  font-style: italic;
}

.de-bezieling .image-container {
  margin-top: 20px;
  height:23.7rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.50;
  transition: transform 0.5s, opacity 0.5s;

}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.author {
  margin-top: 20px;
}

.about {
  font-size: 1.2rem;
}

.aanbod {
  margin-bottom: 5.85rem;
}

.aanbod .image-container {
  height: 11.85rem;
}


/* Learn more */

.learn-more {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

.learn-more strong {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
  display: inline-block;
}

.learn-more p {
  max-width: 42rem;
  margin: auto;
}

/* Le Footer */

footer {
display: flex;
justify-content: space-between;
padding: 0.5rem 1rem 2rem 1rem;
border-top: 1px solid darkgrey;
align-items: center;
}

footer nav ul {
  display: flex;
}

footer nav li {
  padding-right: 1rem;
  color: inherit;
}
